<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.QLHVTTECConnectionString"
            connectionString="Data Source=HOANGTUAN\SQLEXPRESS;Initial Catalog=QLHVTTEC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.Properties.Settings.QLHVTTECConnectionString1"
            connectionString="Data Source=HOANGTUAN\SQLEXPRESS;Initial Catalog=QLHVTTEC;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>